# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [5]:
def lesser_of_two_evens(a,b):
    
    #asking the user to enter 2 numbers and making sure they are integer 
    
    a=int(input('enter 1st number'))
    
    b=int(input('enter 2nd num'))
    
    #ckeck if both numbers are even
    
    if a%2==0 and b%2 ==0 :
        
        return min(a,b) # returning the min of the 2 given even numbers
    
    # if the 2 numbers aren't even
    
    else:
        
        return max(a,b)  #returning the max number of the 2 given numbers

In [6]:
# Check
lesser_of_two_evens(2,4)

enter 1st number2
enter 2nd num4

2

In [7]:
# Check
lesser_of_two_evens(2,5)

enter 1st number2
enter 2nd num5

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [27]:
def animal_crackers(text):
    # spliting the two words into two separated words
    
    texts=text.split()
    
    # checking if both words begin with same letter
    
    if texts[0][0]==texts[1][0]:
            
            return 'true'  #returnig true if the condition is true
    
    else:
            
            return 'false'  # returning false if the condition is false

In [25]:
# Check
animal_crackers('Levelheaded Llama')

'true'

In [26]:
# Check
animal_crackers('Crazy Kangaroo')

'false'

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [29]:
def makes_twenty(n1,n2):
    
    #checking if the sum of the integers is 20 or if one of the integers is 20
    
    if n1+n2==20 or n1==20 or n2==20:
        
        return 'true'  #returning true cuz the condition is true
    
    else:
        
        return 'false'  #returning  false cuz the condition is false

In [30]:
# Check
makes_twenty(20,10)

'true'

In [31]:
# Check
makes_twenty(2,3)

'false'

In [32]:
#check 
makes_twenty(12,8)

'true'

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [47]:
def old_macdonald(name):
    
    #selecting the exact first and fourth letters of a name
    
    l1=name[0]
    
    l2=name[3]
    
    #returning the full name after capitalizing the first and fourth letter by using the built-in function capitalize()
    
    return l1.capitalize()+name[1:3]+l2.capitalize()+name[4:]

In [48]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [51]:
def almost_there(n):
    
    #checking if n is within 10 of either 100 or 200 or not
    
    if n in range(90,110) or n in range(190,210):
        
        return 'true' #returning true cuz the condition is true
    
    else:
        
        return 'false'  #returning false cuz the condition is false

In [52]:
# Check
almost_there(104)

'true'

In [53]:
# Check
almost_there(150)

'false'

In [54]:
# Check
almost_there(209)

'true'

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [136]:
def has_33(nums):
    
    #passing by every number in the list using for loop
    
    for i in range(0,len(nums)+1):
         
            # checking if the array contains a 3 next to a 3 somewhere
        
        if (nums[i] and nums[i+1])==3 :
            
            return 'true'  #returning true cuz the condition is true
        
        else:
            
            return 'false'  #returning false cuz the condition is false

In [137]:
# Check
has_33([1, 3, 3])

'true'

In [144]:
# Check
has_33([1, 3, 1 ,3])

'false'

In [138]:
# Check
has_33([3, 1, 3])

'false'

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [148]:
def paper_doll(text):
    
    # identifying variable to put the output in it
    
    lett=''
    
    #passing by every letter in the string using for loop
    
    for l in text :
        
        lett+= l*3  #triplicate each letter
        
       #returning the word after triplicating each letter
    
    return lett

In [149]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [150]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [218]:
def blackjack(a,b,c):
    
    if a+b+c <= 21 :
        
        return a+b+c
    
    elif a+b+c >21 and (a== 11 or b== 11 or c== 11):
        
        return a+b+c-10
    
    else:
        
        return"bust"

In [221]:
# Check
blackjack(5,6,7)

18

In [219]:
# Check
blackjack(9,9,9)

'bust'

In [220]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [225]:
def summer_69(arr):
    list=arr
    sum=int()
    for num in range(0,len(arr)):
        if 6 in list:
            list1=range(list.index(6),list.index(9)+1)
            for index in list1:
                print(list1)
                arr[index]=0
            if 6 !=arr[num]:
                sum+=arr[num]
            else:
                continue
        else:
            sum+=arr[num]
    return sum

In [226]:
# Check
summer_69([1, 3, 5])

9

In [227]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

range(2, 6)
range(2, 6)
range(2, 6)
range(2, 6)

9

In [228]:
# Check
summer_69([2, 1, 6, 9, 11])

range(2, 4)
range(2, 4)

14

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [202]:
def spy_game(nums):
    for num in range(0,len(nums)):
        if nums[num] == 0:
            for a in range(num+1,len(nums)):
                if nums[a] == 0:
                    for b in range(a+1,len(nums)):
                        if nums[b] ==7:
                            return "True"
                else: 
                    return "False"

In [199]:
# Check
spy_game([1,2,4,0,0,7,5])

'True'

In [203]:
# Check
spy_game([1,0,2,4,0,5,7])

'False'

In [204]:
# Check
spy_game([1,7,2,0,4,5,0])

'False'

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [230]:
def count_primes(num):
    prime=0
    for numb in range(2,num+1):
        for i in range(2,numb):
            if num % i != 0:
                
                prime +=1
                
    return prime

IndentationError: expected an indented block (3543253335.py, line 7)

In [224]:
# Check
count_primes(100)

4267

## Great Job!